<app-navbar-top
    brand="your Brand"
    [topMenu]="menuTop"
    [sideMenu]="sideTop"
    >
</app-navbar-top>

<div id="page-wrapper">
  <div class="container-fluid">

    <app-row>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <app-heading title="Dashboard"></app-heading>
      </div>
    </app-row>
   
    <app-row>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <app-card 
                color="yellow"
                icon="glyphicon glyphicon-shopping-cart"
                value="2"
                text="dettagli..."
                title="titolo"
                path="#"
                >
            </app-card>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <app-card 
          color="red"
          icon="glyphicon glyphicon-warning-sign"
          value="4"
          text="dettagli..."
          title="lorem ipsum"
          path="#"
          >
        </app-card>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <app-card 
            color="green"
            icon="glyphicon glyphicon-tasks"
            value="8"
            text="dettagli..."
            title="lorem ipsum"
            path="#"
          >
          </app-card>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <app-card 
          color="primary"
          icon="glyphicon glyphicon-random"
          value="16"
          text="dettagli..."
          title="lorem ipsum"
          path="#"
        >
        </app-card>
      </div>
    </app-row>
  <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <matteferrag-panel title="table responsive con hover">
                <matteferrag-table 
                    [tableClass]="['table-hover', 'table-bordered', 'table-striped']" 
                    [heading]="headingexample" 
                    [data]="exampletabledata"
                    [actions]="exampleactions"
                >
                </matteferrag-table>
            </matteferrag-panel>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <matteferrag-panel title="table responsive semplice">
                    <matteferrag-table 
                        [tableClass]="[]" 
                        [heading]="headingexample" 
                        [data]="exampletabledata"
                    >
                    </matteferrag-table>
                </matteferrag-panel>
      </div>
  </div>

  
  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <matteferrag-panel title="table responsive grande">
                    <matteferrag-table 
                        [tableClass]="['table-hover', 'table-bordered']" 
                        [heading]="headingexample" 
                        [data]="exampletabledata"
                        [actions]="exampleactions"
                    >
                    </matteferrag-table>
            </matteferrag-panel>
           
      </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <d3-bars></d3-bars> 
    </div>
  </div>

  <div class="row">

    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <matteferrag-panel title="D3 - polygons with area">
                    <d3-polygons [polygons]="polygons"></d3-polygons> 
            </matteferrag-panel>
        
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">login </h3>
            </div>
            <div class="panel-body">
                <div class="login-card"><img src="assets/img/avatar_2x.png" class="profile-img-card">
                    <p class="profile-name-card"> </p>
                    <form class="form-signin"><span class="reauth-email"> </span><input class="form-control" type="email" required="" placeholder="Email address" autofocus="" id="inputEmail"><input class="form-control" type="password" required="" placeholder="Password"
                            id="inputPassword">
                        <div class="checkbox">
                            <div class="checkbox"><label><input type="checkbox">Remember me</label></div>
                        </div><button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Sign in</button></form><a href="#" class="forgot-password">Forgot your password?</a></div>
            </div>
        </div>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <matteferrag-panel title="D3 - Force directed graph">
                    <d3-graph [nodes]="nodes" [links]="links" ></d3-graph>  
            </matteferrag-panel>
       
    </div>
  </div>
  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">morris graph</h3>
              </div>
              <div class="panel-body">
                  <div id="morris-area-chart"></div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">morris donut graph</h3>
              </div>
              <div class="panel-body">
                  <div id="morris-donut-chart"></div>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Task panel</h3>
              </div>
              <div class="panel-body">
                  <ul class="list-group">
                      <li class="list-group-item"><span>List Group Item 1</span><span class="badge" style="background-color:rgb(237,31,31);">badge 1</span></li>
                      <li class="list-group-item"><span>List Group Item 2</span></li>
                      <li class="list-group-item"><span>List Group Item 1</span><span class="badge" style="background-color:rgb(63,162,46);">badge 2</span></li>
                      <li class="list-group-item"><span>List Group Item 2</span></li>
                      <li class="list-group-item"><span>List Group Item 1</span><span class="badge">badge 1</span></li>
                      <li class="list-group-item"><span>List Group Item 1</span><span class="badge">badge 2</span></li>
                  </ul>
              </div>
          </div>
      </div>


      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">form </h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group"><input class="form-control" type="hidden"><input class="form-control" type="email"><textarea class="form-control"></textarea>
                                <div class="radio"><label class="control-label"><input type="radio">Label</label></div>
                                <div class="checkbox"><label class="control-label"><input type="checkbox">Label</label></div><input type="file"><input class="form-control" type="password"><input class="form-control" type="url" autofocus=""><input type="range"><input class="form-control"
                                    type="number"><input class="form-control" type="date"><input type="color"></div>
                        </form>
                    </div>
                </div>

      </div>
  </div>

  <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        </div>
    </div>













</div>
</div>
