.node {
    cursor: pointer;
    transition: stroke-width 0.1s ease-out,
        fill 0.1s ease-out,
        stroke 0.1s ease-out;

    stroke: white;
    stroke-width: 0.25;
}

.node-name {
 
  text-anchor: middle;
  alignment-baseline: central;
  font-weight: 300;
  fill: white;
}

.link {
    stroke-width: .25em;
    stroke: rgb(235, 38, 218);
}

.polygon {
    stroke-width: .25em;
    stroke: rgb(25, 212, 8);
}


.polygon-text {
 
   
    font-weight: 300;
    fill: white;
  }